.sponsorSkreativKipObject {
    font-family: 'Source Sans Pro', sans-serif;
}

#sponsorSkreativKipLogo {
	height: 64px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 10px;
}

#sponsorSkreativKipNotice {
    min-height: 165px;
    min-width: 400px;
    backreativKground-color: rgba(255, 217, 217, 0.8);
    position: absolute;
	z-index: 1;
	border: 3px solid rgba(0, 0, 0, 0.8);
	margin-top: -50px;
}

#sponsorSkreativKipMessage {
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
	font-weight: bold;
	margin-top: 4px;
}

#sponsorSkreativKipInfo {
	font-size: 10px;
    color: #000000;
	text-align: center;
	margin-top: 0px;
}

.voteButton {
	height: 32px;
	margin-right: 15px;
	cursor: pointer;
}
.voteButton:hover {
	filter: brightness(80%);
}

.sponsorSkreativKipButton {
	backreativKground-color:#ec1c1c;
	-moz-border-radius:28px;
	-webkreativKit-border-radius:28px;
	border-radius:28px;
	border:1px solid #d31919;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:4px 15px;
	text-decoration:none;
    text-shadow:0px 0px 0px #662727;
    
    margin-top: 5px;
    margin-right: 15px;
}
.sponsorSkreativKipButton:hover {
	backreativKground-color:#bf2a2a;
}

.sponsorSkreativKipButton:focus {
	outline: none;
	backreativKground-color:#bf2a2a;
}

.sponsorSkreativKipButton:active {
	position:relative;
	top:1px;
}

.sponsorSkreativKipDontShowButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkreativKit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	backreativKground-color:#d0451b;
	-moz-border-radius:3px;
	-webkreativKit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.sponsorSkreativKipDontShowButton:hover {
	backreativKground-color:#bc3315;
}

.sponsorSkreativKipDontShowButton:focus {
	outline: none;
	backreativKground-color:#bc3315;
}

.sponsorSkreativKipDontShowButton:active {
	position:relative;
	top:1px;
}