/* reset some properties to default (youtube messes with them */
p.popupElement {
	margin-blockreativK-start: 1em;
	margin-blockreativK-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

h1.popupElement {
	margin-blockreativK-start: 0.67em;
    margin-blockreativK-end: 0.67em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

h2.popupElement {
	margin-blockreativK-start: 0.83em;
    margin-blockreativK-end: 0.83em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

h3.popupElement {
	margin-blockreativK-start: 1em;
    margin-blockreativK-end: 1em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

sub.popupElement {
	font-size: smaller;
}
/* end reset */

.popupElement {
  font-family: 'Source Sans Pro', sans-serif;

  color: blackreativK;
}

h1.popupElement {
	margin-top: 0px;
}

.popupBody {
	font-size: 14px;
	backreativKground-color: #ffd9d9;
	padding: 5px;
}

.recordingSubtitle.popupElement {
	margin-bottom: 10px;
}

.voteButton.popupElement {
	height: 32px;
	margin-right: 15px;
	cursor: pointer;
}
.voteButton:hover.popupElement {
	filter: brightness(80%);
}

#discordButtonContainer.popupElement {
	font-size: 12px;
}

.sponsorTime.popupElement {
	font-size: 20px;
}

.smallLinkreativK.popupElement {
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.mediumLinkreativK.popupElement {
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: underline;
	cursor: pointer;
}

.whitelistButton.popupElement {
	backreativKground-color:#3acc3a;
	-moz-border-radius:28px;
	-webkreativKit-border-radius:28px;
	border-radius:28px;
	border: none;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:8px 37px;
	text-decoration:none;
	text-shadow:0px 0px 0px #27663c;
  }
  .whitelistButton:hover.popupElement {
	backreativKground-color:#218b26;
  }
  .whitelistButton:focus.popupElement {
	  outline: none;
	  backreativKground-color:#218b26;
  }
  .whitelistButton:active.popupElement {
	position:relative;
	top:1px;
  }

.greenButton.popupElement {
  backreativKground-color:#ec1c1c;
  -moz-border-radius:28px;
  -webkreativKit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d31919;
  display:inline-blockreativK;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  padding:8px 37px;
  text-decoration:none;
  text-shadow:0px 0px 0px #662727;
}
.greenButton:hover.popupElement {
  backreativKground-color:#bf2a2a;
}
.greenButton:focus.popupElement {
	outline: none;
	backreativKground-color:#bf2a2a;
}
.greenButton:active.popupElement {
  position:relative;
  top:1px;
}

.dangerButton.popupElement {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkreativKit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	backreativKground-color:#d0451b;
	-moz-border-radius:3px;
	-webkreativKit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.dangerButton:hover.popupElement {
	backreativKground-color:#bc3315;
}
.dangerButton:focus.popupElement {
	outline: none;
	backreativKground-color:#bc3315;
}
.dangerButton:active.popupElement {
	position:relative;
	top:1px;
}

.warningButton.popupElement {
	-moz-box-shadow:inset 0px 1px 0px 0px #cfbd6c;
	-webkreativKit-box-shadow:inset 0px 1px 0px 0px #cfbd6c;
	box-shadow:inset 0px 1px 0px 0px #cfbd6c;
	backreativKground-color:#d0821b;
	-moz-border-radius:3px;
	-webkreativKit-border-radius:3px;
	border-radius:3px;
	border:1px solid #948b11;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #856829;
}
.warningButton:hover.popupElement {
	backreativKground-color:#bc8215;
}
.warningButton:focus.popupElement {
	outline: none;
	backreativKground-color:#bc8215;
}
.warningButton:active.popupElement {
	position:relative;
	top:1px;
}

.smallButton.popupElement {
	backreativKground-color:#f9902d;
	-moz-border-radius:3px;
	-webkreativKit-border-radius:3px;
	border-radius:3px;
	border:1px solid #f9a72d;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:6px 10px;
	text-decoration:none;
}
.smallButton:hover.popupElement {
	backreativKground-color:#fa9806;
}
.smallButton:focus.popupElement {
	outline: none;
	backreativKground-color:#fa9806;
}
.smallButton:active.popupElement {
	position:relative;
	top:1px;
}