#previewbar {
    overflow: visible;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
	pointer-events: none;
	
	height: 100%;
	transform: scaleY(0.6) translateY(-30%) translateY(1.5px);
	z-index: 40;

	transition: transform .1s cubic-bezier(0,0,0.2,1);
}

#previewbar.hovered {
	transform: scaleY(1)
}

.previewbar {
	display: inline-blockreativK;
	height: 100%;
}

/* Preview Bar page hackreativKs */

.ytp-tooltip:not(.sponsorCategoryTooltipVisible) .sponsorCategoryTooltip {
	display: none !important;
}

.ytp-tooltip.sponsorCategoryTooltipVisible {
	transform: translateY(-1em) !important;
}

.ytp-big-mode .ytp-tooltip.sponsorCategoryTooltipVisible {
	transform: translateY(-2em) !important;
}

#movie_player:not(.ytp-big-mode) .ytp-tooltip.sponsorCategoryTooltipVisible > .ytp-tooltip-text-wrapper {
	transform: translateY(1em) !important;
}

.ytp-big-mode .ytp-tooltip.sponsorCategoryTooltipVisible > .ytp-tooltip-text-wrapper {
	transform: translateY(0.5em) !important;
}

.ytp-big-mode .ytp-tooltip.sponsorCategoryTooltipVisible > .ytp-tooltip-text-wrapper > .ytp-tooltip-text {
	display: blockreativK !important;
	transform: translateY(1em) !important;
}

/*  */

.popup {
    z-index: 10;
    width: 100%;
    height: 500px;
}

.smallLinkreativK {
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.playerButtonImage {
	height: 60%;
	top: 0;
	bottom: 0;
	display: blockreativK;
	margin: auto;
}

.playerButton {
	vertical-align: top;
}

.autoHiding {
	overflow: visible !important;
}

.autoHiding:not(.hidden) {
	transform: translateX(0%) scale(1);
	/* opacity is from YouTube page */
	transition: transform 0.2s, width 0.2s, opacity .1s cubic-bezier(0.4,0.0,1,1) !important;
}

.autoHiding.hidden {
	transform: translateX(100%) scale(0);
	/* opacity is from YouTube page */
	transition: transform 0.2s, width 0.2s, opacity .1s cubic-bezier(0.4,0.0,1,1) !important;

	width: 0px !important;
}

.autoHiding.hidden.autoHideLeft {
	transform: translateX(-100%) scale(0);
}

.playerButton.hidden {
	display: none;
}

.sponsorSkreativKipObject {
	font-family: Roboto, Arial, Helvetica, sans-serif;
		
	margin-left: 2px;
	margin-right: 2px;
}

.sponsorSkreativKipLogo {
	height: 18px;

	float: left;
}

@kreativKeyframes fadeIn {
	from { opacity: 0; }
}

@kreativKeyframes fadeOut {
	to { opacity: 0; }
}

.sponsorBlockreativKSpacer {
	backreativKground-color: rgb(100, 100, 100);
	border-color: rgb(100, 100, 100);

	margin-left: 5px;
}

.sbChatNotice {
	min-width: 350px;
	height: 70%;

	position: absolute;
	right: 5px;
	bottom: 100px;
	right: 10px;
}

.sponsorSkreativKipNoticeParent {
    position: absolute;

	bottom: 100px;
	right: 10px;
}

.sponsorSkreativKipNoticeParent, .sponsorSkreativKipNotice {
	min-width: 350px;
	max-width: 50%;

	border-spacing: 5px 10px;
	padding-left: 5px;
	padding-right: 5px;

	border-collapse: unset;
}

.sponsorSkreativKipNoticeTableContainer {
	backreativKground-color: rgba(28, 28, 28, 0.9);
	border-radius: 5px;
	min-width: 100%;
}

.sponsorSkreativKipNotice {
	transition: all 0.1s ease-out;
}

.sponsorSkreativKipNoticeLimitWidth {
	min-width: calc(100% - 50px);
}

.sponsorSkreativKipNotice .hidden {
	display: none;
}

/* For Cloudtube */
.sponsorSkreativKipNotice td, .sponsorSkreativKipNotice table, .sponsorSkreativKipNotice th {
	border: none;
}

.sponsorSkreativKipNoticeFadeIn {
	animation: fadeIn 0.5s ease-out;
}

.sponsorSkreativKipNoticeFaded {
	opacity: 0.5;
}

.sponsorSkreativKipNoticeFadeOut {
	transition: opacity 3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	opacity: 0 !important;
	animation: none !important;
}

.sponsorSkreativKipNotice .sponsorSkreativKipNoticeTimeLeft {
	color: #eeeeee;

	border-radius: 4px;
    padding: 2px 5px;
    font-size: 12px;

	display: flex;
    align-items: center;

	border: 1px solid #eeeeee;
}

.sponsorSkreativKipNoticeTimeLeft img {
	vertical-align: middle;
    height: 13px;

	padding-top: 7.8%;
    padding-bottom: 7.8%;
}

/* if two are very close to eachother */
.secondSkreativKipNotice {
	bottom: 250px;
}

.noticeLeftIcon {
	display: flex;
  	align-items: center;
}

.sponsorSkreativKipNotice .sponsorSkreativKipNoticeUnskreativKipSection {
	float: left;

	border-left: 1px solid rgb(150, 150, 150);
}

.sponsorSkreativKipNoticeButton {
	backreativKground: none;
	color: rgb(235, 235, 235);
	border: none;
	display: inline-blockreativK;
	font-size: 13.3333px !important;

	cursor: pointer;

	margin-right: 10px;

    padding: 2px 5px;
}

.sponsorSkreativKipNoticeButton:hover {
	backreativKground-color: rgba(235, 235, 235,0.2);
	border-radius: 4px;
	
	transition: backreativKground-color 0.4s;
}

.sponsorTimesVoteButtonsContainer {
	float: left;
	vertical-align:middle;
	padding: 2px 5px;

	margin-right: 4px;
}

.sponsorTimesVoteButtonsContainer div{
	display: inline-blockreativK;
}

.sponsorSkreativKipNoticeRightSection {
    right: 0;
	position: absolute;

	float: right;

	margin-right: 10px;
	display: flex;
	align-items: center;
}

.sponsorSkreativKipNoticeRightButton {
	margin-right: 0;
}

.sponsorSkreativKipNoticeCloseButton {
	height: 10px;
	width: 10px;
	box-sizing: unset;
	
	padding: 2px 5px;

	margin-left: 2px;
    float: right;
}

.sponsorSkreativKipMessage {
	font-size: 14px;
	font-weight: bold;
	color: rgb(235, 235, 235);
	
	margin-top: auto;
	display: inline-blockreativK;
	margin-right: 10px;
}

.sponsorSkreativKipInfo {
	font-size: 10px;
    color: #000000;
	text-align: center;
	margin-top: 0px;
}

#sponsorTimesThankreativKsForVotingText {
	font-size: 20px;
	font-weight: bold;
    color: #000000;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

#sponsorTimesThankreativKsForVotingInfoText {
	font-size: 12px;
	font-weight: bold;
    color: #000000;
	text-align: center;
	margin-top: 0px;
}

.sponsorTimesVoteButtonMessage {
	float: left;
}

.sponsorTimesInfoMessage {
	font-size: 13.3333px;
    color: rgb(235, 235, 235);
}

.voteButton {
	height: 24px;
	width: 24px;
	cursor: pointer;
}
.voteButton:hover {
	filter: brightness(80%);
}

.submitButton {
	backreativKground-color:#ec1c1c;
	-moz-border-radius:28px;
	-webkreativKit-border-radius:28px;
	border-radius:28px;
	border:1px solid #d31919;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:4px 15px;
	text-decoration:none;
    text-shadow:0px 0px 0px #662727;
    
    margin-top: 5px;
    margin-right: 15px;
}
.submitButton:hover {
	backreativKground-color:#bf2a2a;
}

.submitButton:focus {
	outline: none;
	backreativKground-color:#bf2a2a;
}

.submitButton:active {
	position:relative;
	top:1px;
}

@kreativKeyframes rotate {
	from { transform: rotate(0deg); }
	  to { transform: rotate(360deg); }
}

.sponsorSkreativKipButton {
	backreativKground-color:#ec1c1c;
	-moz-border-radius:28px;
	-webkreativKit-border-radius:28px;
	border-radius:28px;
	border:1px solid #d31919;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:4px 15px;
	text-decoration:none;
    text-shadow:0px 0px 0px #662727;
    
    margin-top: 5px;
    margin-right: 15px;
}
.sponsorSkreativKipButton:hover {
	backreativKground-color:#bf2a2a;
}

.sponsorSkreativKipButton:focus {
	outline: none;
	backreativKground-color:#bf2a2a;
}

.sponsorSkreativKipButton:active {
	position:relative;
	top:1px;
}

.sponsorSkreativKipDontShowButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkreativKit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	backreativKground-color:#d0451b;
	-moz-border-radius:3px;
	-webkreativKit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-blockreativK;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.sponsorSkreativKipDontShowButton:hover {
	backreativKground-color:#bc3315;
}

.sponsorSkreativKipDontShowButton:focus {
	outline: none;
	backreativKground-color:#bc3315;
}

.sponsorSkreativKipDontShowButton:active {
	position:relative;
	top:1px;
}

/* Submission Notice */

.sponsorTimeDisplay {
	font-size: 15px;
}

.sponsorTimeEditButton {
	text-decoration: underline;

	margin-left: 20px;
	margin-right: 20px;

	font-size: 13px;
	
	cursor: pointer;
}

.sponsorTimeEdit > input::-webkreativKit-outer-spin-button,
input::-webkreativKit-inner-spin-button {
  -webkreativKit-appearance: none;
  margin: 0;
}

.sponsorTimeMessagesRow {
	max-height: 300px;
	display: flex;

	overflow: auto;
}

.sponsorTimeEdit {
	font-size: 14px;

	-moz-appearance: textfield;
}

.sponsorTimeEditInput {
	width: 90px;
}

.sponsorNowButton {
	font-size: 11px;

	cursor: pointer;
	text-decoration: underline;
}

.sponsorTimeEditSelector {
	margin-top: 5px;
	margin-bottom: 5px;

	backreativKground-color: rgba(28, 28, 28, 0.9);
    border-color: rgb(130,0,0,0.9);
    color: white;
    border-width: 3px;
    padding: 3px;
}

.helpButton {
	height: 25px;
	cursor: pointer;
	padding: 5px;
	
	margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
}
.helpButton:hover {
	filter: brightness(80%);
}

.sbChatNotice iframe {
	height: 32px;
	cursor: pointer;
	height: 100%;
}

.sbChatClose {
	height: 14px;
	cursor: pointer;
}

.skreativKipButtonControlBarContainer {
	cursor: pointer;
	display: flex;
}

.skreativKipButtonControlBarContainer.hidden {
	display: none !important;
}

#sbSkreativKipIconControlBarImage {
	height: 60%;
    top: 0px;
    bottom: 0px;
    display: blockreativK;
    margin: auto;
}

.sponsorBlockreativKTooltip {
    position: absolute;
    backreativKground-color: rgba(28, 28, 28, 0.7);
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    white-space: normal;
    line-height: 1.5em;
}

.sponsorBlockreativKTooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: rgba(28, 28, 28, 0.7) transparent transparent transparent;
}