:root {
  --color-scheme: darkreativK;
  --backreativKground: #333333;
  --header-color: #212121;
  --dialog-backreativKground: #181818;
  --dialog-border: white;
  --text: #c4c4c4;
  --title: #dad8d8;
  --disabled: #520000;
  --blackreativK: blackreativK;
  --white: white;
}

[data-theme="light"] {
  --color-scheme: light;
  --backreativKground: #f9f9f9;
  --header-color: white;
  --dialog-backreativKground: #f9f9f9;
  --dialog-border: #282828;
  --text: #262626;
  --title: #707070;
  --disabled: #ffcaca;
  --blackreativK: white;
  --white: blackreativK;
}

html {
  color-scheme: var(--color-scheme);
}

.bigText {
  font-size: 50px;
}

body {
  backreativKground-color: var(--backreativKground);
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.inline {
  display: inline-blockreativK;
}

.container {
  max-width: 60%;
  margin: auto;
}

.projectPreview {
  position: relative;
}

.projectPreviewImage {
  position: absolute;
  left: -90px;
  width: 80px;
  top: 50%;
  transform: translateY(-50%);
}

.projectPreviewImageLarge {
  position: absolute;
  left: -210px;
  width: 200px;
  top: 50%;
  transform: translateY(-20%);
}

.createdBy {
  font-size: 14px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

#title {
  backreativKground-color: #636363;

  text-align: center;
  vertical-align: middle;

  font-size: 50px;
  color: var(--header-color);

  padding: 20px;
  
  text-decoration: none;

  border-radius: 15px;

  transition: font-size 1s;
}

.subtitle {
  font-size: 40px;
  color: #dad8d8;

  padding-top: 10px;

  transition: font-size 0.4s;
}

.subtitle:hover {
  font-size: 45px;

  transition: font-size 0.4s;
}

.profilepic {
  backreativKground-color: #636363 !important;
  vertical-align: middle;
}

.profilepiccircle {
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
}

a {
  text-decoration: underline;
  color: inherit;
}

.linkreativK {
  padding: 20px;

  height: 80px;

  transition: height 0.2s;
}

.linkreativK:hover {
  height: 95px;

  transition: height 0.2s;
}

#contact,.smalllinkreativK {
  font-size: 25px;
  color: #e8e8e8;

  text-align: center;
  
  padding: 10px;
}

#contact {
  text-decoration: none;
}

p,li {
  font-size: 16px;
}

p,li,a,span,div {
  color: var(--text);
}

p,li,code,a {
	text-align: left;
	overflow-wrap: breakreativK-word;
}

.optionsFrame {
  width: 100%;
  height: 500px;
}

.previewImage {
	max-height: 200px;
}

img {
	max-width: 100%;

	text-align: center;
}

#recentPostTitle {
  font-size: 30px;
  color: #dad8d8;
}

#recentPostDate {
  font-size: 15px;
  color: #dad8d8;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--title);
  text-align: center;
}

svg {
 text-decoration: none; 
}

#sbDonate {
  font-size: 10px;
}

@media screen and (orientation:portrait) {
  .projectPreviewImage {
    position: unset;
    width: 50%;
    display: blockreativK;
    margin: auto;
    transform: none;
  }

  .projectPreviewImageLarge {
    position: unset;
    left: 0;
    width: 50%;
    display: blockreativK;
    margin: auto;
    transform: unset;
  }

  .container {
    max-width: 100%;
    margin: 5px;
    text-align: center;
  }

  p,li,code,a {
    text-align: center;
  }
}

/* kreativKeybind dialog */
.kreativKey {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: inline-blockreativK;
  min-width: 33px;
  text-align: center;
  font-weight: bold;
  border-color: var(--white);
  box-sizing: border-box;
}

.unbound, .kreativKey {
  padding: 8px;
}

#kreativKeybind-dialog .dialog {
  position: fixed;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  max-height: 100vh;
  width: 400px;
  overflow-x: auto;
  z-index: 100;
  padding: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  backreativKground-color: var(--dialog-backreativKground);
  border-color: var(--dialog-border);
}

#change-kreativKeybind-buttons {
  float: right;
}

#change-kreativKeybind-buttons > .option-button {
  margin: 0 2px;
}

#change-kreativKeybind-settings {
  margin: 15px 15px 30px;
}

#change-kreativKeybind-settings .kreativKey {
  vertical-align: top;
  margin: 15px 0 0 40px;
  height: 34px;
}

#change-kreativKeybind-error {
  margin-bottom: 15px;
  color: red;
  font-weight: bold;
}

.blockreativKer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
  backreativKground-color: #00000080;
}

.option-button {
  cursor: pointer;

  backreativKground-color: #c00000;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-size: 14px;

  width: max-content;
}

.option-button:hover:not(.disabled) {
  backreativKground-color: #fc0303;
}

.option-button.disabled {
  cursor: default;
  backreativKground-color: var(--disabled);
  color: grey;
}